<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Botan Bot</title>
</head>
<body>
    <a href="{% url 'payment_request_url' %}">Payment Request</a>
    <br><br>
    <a href="{% url 'payment_confirmation_url' %}">Payment Confirmation</a>
    <br><br>
    <a href="{% url 'money_out_request_confirmation_url' %}">Money Out Request Confirmation</a>
    <br><br>
    <a href="{% url 'approve_order_url' %}">⌛️ Approve Order</a>
    <br><br>
    <a href="{% url 'message_from_support_url' %}">👨‍💻 Message From Support</a>
    <br><br>
    <a href="{% url 'order_feedback_url' %}">⚡️ Order Feedback</a>
    <br><br>
</body>
</html>